/*HEADER*/
#header_bg_image{
	height: 550px;	
	background-image: url("../images/bg/1.jpg");
}
#header_description{
	color:white;
	background-color: transparent;
	margin-top: 90px;
}

/*WHERE*/
#where_map{
	height:400px;
}
#map{
	height:100%;
	width:100%;
	border-radius: 3px;
}
.where_info{
	padding:18px 0 18px 0;
}
@media (min-width: 992px){
	.where_info:first-child, .contacts_info:first-child{
		padding-top:0;
	}	
}
#where span{
	color:rgba(  5, 131, 198,1);
}

/*CONTATTI*/
#contacts img{
	width:100%;
}
.contacts_info{
	padding:30px 0 30px 0;
}
#contacts_info span{
	color:rgba(  5, 131, 198,1);
}