/*HEADER*/
#header_bg_image{
	height: 750px;	
	background-image: url("../images/bg/1.jpg");
}
#header_description{
	color:white;
	padding:10px;
	background-color: rgba(0,0,0,.2);
	margin-top: 150px;
}

/*WHERE*/
#where_map{
	height:400px;
}
#map{
	height:100%;
	width:100%;
	border-radius: 3px;
}
.where_info{
	padding:18px 0 18px 0;
}
@media (min-width: 992px){
	.where_info:first-child, .contacts_info:first-child{
		padding-top:0;
	}	
}
#where span{
	color: rgba(  5, 131, 198,1);
}