body{
	font-size:14px;
	font-family: "Arab Slab"
}
a{
	color:white;
}
a:hover{
	color: white;
	text-decoration: none;
}
.badge{
	background-color:rgba(0,17,26,1);
	border-radius:5px;
	font-weight: 100;
}
.badge:hover{
	background-color:rgba(28,114,160,1);
}
.h_scroll{
	overflow:hidden;
	white-space: nowrap;
}.title{
	padding:0 0 30px 0;
}

#header_bg_image{
	background-image: url("../images/bg/1.jpg");
	background-position: center center;
	background-size: cover;
	height: 550px;
	-webkit-box-shadow: 0 5px 40px #747474;
	   -moz-box-shadow: 0 5px 40px #747474;
	        box-shadow: 0 5px 40px #747474;
}

.navbar, .navbar-default{
	min-height: 70px;
	border:0;
	border-radius: 0;
	background-color: rgba(255,255,255,.9);
	-webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
            box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.1) inset;
}
.navbar-default span{
	padding-right: 10px;
}
.navbar-default .navbar-nav>li>a{
	color:rgba(0,17,26,1);
	line-height: 35px;
}
.navbar-default .navbar-nav>li>a:hover{
	color:rgba(28,114,160,1);
}
.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{
	background-color: transparent;
	color:rgba(28,114,160,1);
}
.navbar-toggle{
	color:rgba(0,17,26,1);
	border:0;
}
#large_logo img{
	height:70px;
	width:318px;
}
#small_logo img{
	height:70px;
	width:90px;
}

#header_description{
	margin-top: 130px;
	color:white;
}

#where,#contacts,#services{
	padding:30px 15px 30px 15px;
}
#where_map{
	height:400px;
}
#map{
	height:100%;
	width:100%;
	border-radius: 3px;
}
.where_info, .contacts_info{
	padding:18px 0 18px 0;
}
@media (min-width: 992px){
	.where_info:first-child, .contacts_info:first-child{
		padding-top:0;
	}	
}
#where span{
	color:rgba(0,17,26,1);
}

#contacts_bg_image{
	background-color: rgba(89,166,207,1);
}
#contacts img,#services img{
	height:100%;
	width:100%;
}
#contacts{
	color:white;
}
#contacts_info span{
	color:rgba(0,17,26,1);
}

.services_box{
	padding:0 20px 60px 20px;
    white-space: normal;
    text-align: center;
    display: inline-block;
    float: none;
    vertical-align: top;
}
.services_box:first-child{
	padding-left:10px;
}
.services_box h4{
	text-align: center;
}
.services_text{
	font-size: 15px;
}
.scroll_arrow{
	position:absolute;
	color:rgba(0,17,26,1);
	top:730px;
	z-index:2;
}
.scroll_arrow:hover{
	cursor: hand;
	cursor: pointer;
	color:rgba(28,114,160,1);
}
#right_scroll_arrow{
	right:5px;
}
#left_scroll_arrow{
	left:5px;
}