/*GENERAL*/
body{
	font-size:14px;
	font-family: "Arab Slab";
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
a:hover{
	text-decoration: none;
}a:visited{
	text-decoration: none;
}a:focus{
	text-decoration: none;
}
.link{
	padding:2px 5px 2px 5px;
	font-size: 85%;
	color: rgba(0,17,26,1);
}
.link:visited{
	color: rgba(0,17,26,1) !important;
}
.title_box{
	padding:30px 0 30px 0;
}
.text_stand_out{
	font-family: "Source Sans Pro";
	letter-spacing: 0.12em;
	text-transform: uppercase;
}
#scroll_top{
	cursor: hand;
	cursor: pointer;
	display:none;
	position:fixed;
	width:115px;
	height:30px;
	top:0;
	left:50%;
	margin-left: -57px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: rgba(  5, 131, 198,1);
	text-align: center;
	vertical-align: middle;
	line-height: 30px;
	color:white;
	z-index:100;
	box-shadow: 2px 2px 5px 0 black;
}

/*NAVIGATION BAR*/
.navbar, .navbar-default{
	margin-bottom: 0;
	min-height: 60px;
	border:0;
	border-radius: 0;
	background-color: transparent;
}
.navbar-default .navbar-nav>li>a{
	font-weight: 600;
	color:rgba(255,255,255,1);
	line-height: 30px;
	border-bottom: 2px solid transparent;
}
.navbar-default .navbar-nav>li>a:hover{
	color:rgba(255,255,255,1);
	border-bottom: 2px solid white;
}
@media (max-width: 767px){
	.navbar-default .navbar-nav>li>a{
		border-bottom: 0;
	}
	.navbar-default .navbar-nav>li>a:hover{
		border-bottom: 0;
	}	
}
.navbar-toggle{
	color:rgba(0,17,26,1);
	border:0;
}.navbar-default .navbar-toggle:hover,.navbar-default .navbar-toggle:focus{
	background-color: transparent;
	color:rgba(255,255,255,1);
}

/*HORIZONTAL SCROLLER*/
.h_scroll{
	overflow:hidden;
	white-space: nowrap;
}.h_scroll_box{
	padding:0 20px 60px 20px;
	white-space: normal;
	display: inline-block;
    float: none;
    text-align: center;
    vertical-align: top;
}
.h_scroll_box h4{
	text-align: center;
}
#h_scroll img{
	height:100%;
	width:100%;
}
.h_scroll_text{
	font-size: 15px;
}
.scroll_arrow:hover{
	cursor: hand;
	cursor: pointer;
}
.right_scroll_arrow{
	float:right;
}
.left_scroll_arrow{
	float:left;
}

/*ALL SECTIONS*/
#contacts,#services,#where,#team{
	padding-bottom: 30px;
}

/*HEADER*/
#header_bg_image{
	background-image: url("../images/bg/1.jpg");
	background-position: center center;
	background-size: cover;
}
@media (min-width: 768px){
	#header_bg_image{
		height: 550px;	
	}
}
#header_description{
	margin-top: 0px;
	color:white;
}

/*WHERE*/
#where_map{
	height:400px;
}
#map{
	height:100%;
	width:100%;
	border-radius: 3px;
}
.where_info{
	padding:18px 0 18px 0;
}
@media (min-width: 992px){
	.where_info:first-child, .contacts_info:first-child{
		padding-top:0;
	}	
}
#where span{
	color:rgba(  5, 131, 198,1);
}

/*CONTATTI*/
#contacts_bg_image{
	/*background-image: url("../images/contact/bg.png");
	background-position: center center;
	background-size: cover;*/
}
#contacts img{
	height:100%;
	width:100%;
}
.contacts_info{
	padding:30px 0 30px 0;
}
#contacts_info span{
	color:rgba(  5, 131, 198,1);
}

/* CSS - Cascading Style Sheet */


/* As hex codes */

.color-primary-0 { color: #01507A }	/* Main Primary color */
.color-primary-1 { color: #0583C6 }
.color-primary-2 { color: #026195 }
.color-primary-3 { color: #013F60 }
.color-primary-4 { color: #002A40 }



/* As RGBa codes */

.rgba-primary-0 { color: rgba(  1, 80,122,1) }	/* Main Primary color */
.rgba-primary-1 { color: rgba(  5,131,198,1) }
.rgba-primary-2 { color: rgba(  2, 97,149,1) }
.rgba-primary-3 { color: rgba(  1, 63, 96,1) }
.rgba-primary-4 { color: rgba(  0, 42, 64,1) }
