/*HEADER*/
#header_bg_image{
	background-image: url("../images/bg/2.jpg");
}
.doctor{
	padding-top: 20px;
	padding-bottom: 20px;
}

@media (max-width:767px){
	.infos{
		margin:0;
		text-align: center;
		margin-top: 10px;
	}
}