/*HEADER*/
#header_bg_image{
	background-image: url("../images/bg/2.jpg");
}
.doctor{
	padding-top: 20px;
	padding-bottom: 20px;
}

.anchor{
	display:block;
	position:relative;
	top:-150px;
	visibility: hidden;
}